<!DOCTYPE html>
<!-- Shubham Anand -->
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
</head>
<body>


<!--<div class="navbar">-->
<!--    <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>-->
<!--    <a href="#"><i class="fa fa-fw fa-sign-in"></i> sign-up</a>-->
<!--    <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>-->
<!--  </div>-->


  <form  >
    <div>
      <div class="column" >
        <img src="assets/muesli.jpg"  style="width:50%"><br>
        <p ><b>Kellogs Muesli  Rs.315 </b></p>
        <button type="button"><img src="assets/button.jpg" #Muesli id="Muesli kellogs" width="150"  (click)="reply_click(Muesli.id)" /></button>

      </div>
    </div>
    <div class="column">
      <img src="assets/dairy.jpg"  style="width:50%"><br>
      <p><b>Dairy Milk  Rs.35 </b></p>
      <button type="button"><img src="assets/button.jpg" #Dairy id="Dairy Milk" width="150"  (click)="reply_click(Dairy.id)" /></button>
    </div>

    <div class="column">
      <img src="assets/rice.jpg" alt="Mountains" style="width:50%"><br>
      <p><b>India Gate Rice  Rs.110/kg </b></p>
      <button type="button"><img src="assets/button.jpg" #Rice id="Rice" width="150"  (click)="reply_click(Rice.id)" /></button>
    </div>

    <div class="column">
      <img src="assets/soya.jpg" alt="Mountains" style="width:50%"><br>
      <p><b>Soya Bean  Rs.110/kg </b></p>
      <button type="button"><img src="assets/button.jpg" #Soya id="Soya Bean" width="150"  (click)="reply_click(Soya.id)" /></button>
    </div>

    <div class="column">
      <img src="assets/sugar.jpg" alt="Mountains" style="width:50%"><br>
      <p><b>Sugar  Rs.40/kg </b></p>
      <button type="button"><img src="assets/button.jpg" #Sugar id="Sugar" width="150"  (click)="reply_click(Sugar.id)" /></button>
    </div>
    <div class="column">
      <img src="assets/chana.jpg" alt="Snow" style="width:50%"><br>
      <p><b>Chana Daal  Rs.52/kg </b></p>
      <button type="button"><img src="assets/button.jpg" #Chana id="Chana Daal" width="150"  (click)="reply_click(Chana.id)" /></button>
    </div>
    <div class="column">
      <img src="assets/muesli.jpg" alt="Forest" style="width:50%"><br>
      <p><b>kellog's Muesli  Rs.315 </b></p>
      <button type="button"><img src="assets/button.jpg" #Musli id="Muesli" width="150"  (click)="reply_click(Musli.id)" /></button>
    </div>
    <div class="column">
      <img src="assets/oil.jpg"  style="width:50%"><br>
      <p><b>Almond Hair Oil  Rs.50 </b></p>
      <button type="button"><img src="assets/button.jpg" #Oil id="Hair Oil" width="150"  (click)="reply_click(Oil.id)" /></button>
    </div>
    <div class="column">
      <img src="assets/juice.jpg"  style="width:50%"><br>
      <p><b>Real Fruit Juice    Rs.105 </b></p>
      <button type="button"><img src="assets/button.jpg" #Juice id="Juice" width="150"  (click)="reply_click(Juice.id)" /></button>
    </div>
    <div class="column">
      <img src="assets/maggie.jpg"  style="width:50%"><br>
      <p><b>Nestle Maggie  Rs.12 </b></p>
      <button type="button"><img src="assets/button.jpg" #Maggie id="Maggie" width="150"  (click)="reply_click(Maggie.id)" /></button>
    </div>
    <div class="column">
      <img src="assets/marie.jpg"  style="width:50%"><br>
      <p><b>Marie Gold Biscuit  Rs.22 </b></p>
      <button type="button"><img src="assets/button.jpg" #Marie id="Marie Gold" width="150"  (click)="reply_click(Marie.id)" /></button>

    </div>
    <div class="column">
      <img src="assets/aashi.png" id="ashi" alt="Snow" style="width:50%"><br>
      <p><b>Aashirwaad Aata  Rs.135 </b></p>
      <button type="button"><img src="assets/button.jpg" #AAshi id="Ashirwaad Aata" width="150"  (click)="reply_click(AAshi.id)" /></button>
    </div>

  </form>

  <button type="button"  routerLinkActive="active"  class="button1"   (click)="NavigateToCart()">Proceed To Buy</button>

</body>
</html>
